/*
body {
    background-color: #0f121f;
    background-image: url(stars.png);
    background-repeat: no-repeat;
    color: #fff;
}

body *{
    font-family: Ubuntu;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}
*/
/*
.wrapper{
    max-width: 960px;
    margin: 0 auto;
}

div.wrapper h1{
    text-align: center;
    margin: 100px auto;
    font-size: 2.4em;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}

nav{
    justify-self: end;
}

nav li{
    display: inline-block;
    margin-left: 20px;
}

nav button{
    background:none;
    color: #fff;
    cursor: pointer;
    border: 0;
    font-size: 1em;
}

.articles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.article{
    padding: 10px;
    border: 1px solid #00dba0;
    position: relative;
    padding-bottom: 40px;
}

.article h2{
    font-size: 1.20m;
}

.article .author{
    padding: 10px;
    background: #00dba0;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: #0f121f; 
}

.article-detail .article{
    padding: 0;
}

.article-detail .article img{
    max-width: 100%;
}

.article-detail .article h2{
    text-align: center;
    margin: 2-px auto;
    font-size: 20m;
}

.article-detail .article p{
    text-align: center;
}

.site-form{
    margin-top: 60px;
    border: 1px solid #00dba0;
    padding: 20px;
}

.site-form input, .site-form textarea{
    display: block;
    margin: 20px 0 0 0;
    padding: 10px;
}

a.highlight{
    border: 1px solid #00dba0;
    padding: 10px;
    border-radius: 4px;
    color: #00dba0;
}

.helptext, .helptext ul{
    margin: 0 auto 20px;
    color: #bbb;
    font-size: 0.9em;
    display: block;
}

.errorlist li{
    padding: 10px;
    list-style-type: none;
    border: 1px solid #ff5722;
    color: #ff5722;
    margin: 1px 0;
}

.errorlist{
    padding: 0;
}

.site-form input[type="submit"]{
    background: #00dba0;
    border: 0;
    color: #fff;
    font-size: 1.20em;
    border-radius: 4px;
    margin: 10px 0; 
}
*/
.logo{
    width: 260px;
}

body {
    /*background-color: rgb(46, 42, 42);*/
    /*padding-top: 155px;*/
    background-color: #0f121f;
    /*background-image: url(stars.png);*/
    background-repeat: no-repeat;
}

.loginpage_body{
    padding-top: 155px;
}

.logout_button{
    background-color: white;
    color: black;
    border: 2px solid rgb(204, 80, 80);
    border-radius: 12px;
    padding: 14px 30px;
    font-size: 20px;  
    transition-duration: 0.4s;     
}

.logout_button:hover {
    background-color: red;
    color: white;
}

.newarticlebutton{
    background-color:green;
    color: white;
    border: 2px solid lightgreen;
    border-radius: 20px;
    padding: 14px 30px;
    font-size: 25px;
    transition-duration: 0.4s;
    font-family: 'Courier New', Courier, monospace;     
}

.newarticlebutton:hover{
    background-color: white;
    color: green;
}

.login_button{
    background-color: darkblue;
    color: white;
    border: 2px solid lightblue;
    border-radius: 15px;
    padding: 14px 30px;
    font-size: 25px;
    transition-duration: 0.4s;
    font-family: 'Courier New', Courier, monospace;
}

.login_button:hover{
    background-color: white;
    color: darkblue;
}

.signup_button{
    background-color: purple;
    color: white;
    border: 2px solid magenta;
    border-radius: 15px;
    padding: 14px 30px;
    font-size: 25px;
    transition-duration: 0.4s;
    font-family: 'Courier New', Courier, monospace;
}

.signup_button:hover {
    background-color: white;
    color: purple;
}

.new_article_button{
    margin-top: 90px;
    background-color: #0f121f;
}

.home_button{
    background-color: rgb(45, 235, 8);
    color: black;
    border: 2px solid rgb(198, 248, 82);
    border-radius: 12px;
    padding: 14px 30px;
    font-size: 20px;  
    transition-duration: 0.4s;
}

.home_button:hover {
    background-color: white;
    color: rgb(45, 235, 8);
}

.main_navbar{
    background-color: #ffffff;
    opacity: 98.5%;
}

.card{
    width: 60%; 
}

.card-img-top{
    height: 200px;
    max-width: 100%;
}

.article_link{
    text-decoration: none;
    color: black;
}

.article_link:hover {
    text-decoration: none;
    color: black;
}

.article_link:visited{
    text-decoration: none;
}

.article_link:active{
    text-decoration: none;
}

.login_header{
    text-align: center;
    color: white;
}

.site-form{
    margin-top: 60px;
    border: 1px solid #00dba0;
    padding: 20px;
    width: 70vw;
    margin-left: 12.5vw;
    text-align: center;
}

.site-form input, .site-form textarea{
    display: block;
    margin: 20px auto;
    padding: 10px;
}

.site-form input[type="submit"]{
    background-color: #00dba0;
    border: 2px solid #00dba0;
    color: #fff;
    font-size: 25px;
    border-radius: 15px;
    padding: 14px 30px;
    transition-duration: 0.4s;
    font-family: 'Courier New', Courier, monospace;
}

.site-form input[type="submit"]:hover{
    background-color: white;
    color: #00dba0;
}

.site-form label[for="id_username"]{
    color: rgb(24, 182, 95);
    font-size: 25px;
    
}

.site-form label[for="id_password"]{
    color: rgb(24, 182, 95);
    font-size: 25px;
    
}

.site-form label[for="id_password1"]{
    color: rgb(24, 182, 95);
    font-size: 25px;
}

.site-form label[for="id_password2"]{
    color: rgb(24, 182, 95);
    font-size: 25px;
    
}

.errorlist li{
    list-style-type: none;
    color: lightblue;
    text-align: match-parent;
    text-indent: -2em;
}

.page_down{
    padding-top: 100px;
}

.helptext{
    color:  lightcyan;
    display: inline;
}

.helptext:after {
    content:"\a\a\a\a";
    white-space: pre;
}

.helptext ul li{
    list-style-type: none;
    text-indent: -2em;
    text-align: match-parent;
}

.create_article_heading{
    font-family: Ubuntu;
    text-align: center;
    color: green;
    font-size: 50px;
}

.site-form label[for="id_title"]{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: darkred;
    font-weight: bold;
}

#id_title{
    width: 60%;
}

.site-form label[for="id_body"]{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: darkred;
    font-weight: bold;
}

.site-form label[for="id_body"]:before{
    content:"\a";
    white-space: pre;
}

#id_body{
    color: black;;
    background-color: lightgray;
    width: 90%;
}

.site-form label[for="id_thumb"]{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: darkred;
    font-weight: bold;   
}

#id_thumb{
    text-align: center;
}

#image_article{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 300px;
}

#article_title{
    color: white;
    font-size: 50px;
    text-align: center;
}

#article_body{
    text-align: justify;
    margin-left: 5vw;
    margin-right: 5vw;
    color: lightgray;
}

#article_date{
    text-align: left;
    margin-right: 5vw;
    margin-left: 5vw;
    font-size: 25px;
    color: lightblue;
}