{% extends 'base_layout.html' %}

{% block content %}
<script>
    AOS.init({
           duration: 1200,
          })
</script>
    <nav class="navbar navbar-expand-lg sticky-top new_article_button">
    <ul class="navbar-nav mx-auto">
    
        <li class="nav-item">
            <form class="new_article_link" action="{% url 'articles:create' %}">
                {% csrf_token %}
                <button type="submit" class="newarticlebutton">Create a new post</button>             
            </form>
        </li>
        
            
        
    </ul>
    </nav>  
    <br><br>
    <div data-aos="fade-down">
        <h1 style="text-align: center; color: darkgray; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Latest Posts</h1>

    </div>  
    <br><br>
    <div class="articles">
        {% for article in articles %}
        
        <div class="card mb-3 mx-auto bg-light item" data-aos="fade-up">
            <a href="{% url 'articles:detail' slug=article.slug %}" class="article_link">
            <img src="{{article.thumb.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">{{ article.title }}</h3>
              <p class="card-text"><span style="font-size: 20px;">{{ article.snippet }}</span></p>
              <p class="card-text text-right">- by <b>{{ article.author.username }}</b> on {{ article.date }}</p>
            </div>
            </a>
          </div>
          
            <br><br>
        {% endfor %}
    </div>
{% endblock %}
