{% extends 'base_layout.html'%}

{% block optional_home_button %}
    <li class="nav-item">
        <form class="home-link" action="{% url 'home' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="home_button">HOME</button>             
        </form>
    </li>
    &nbsp;&nbsp;
{% endblock %}

{% block content %}
    <div class="create-article page_down">
        <h2 class="create_article_heading">Create a new article</h2>
        <form class="site-form" action="{% url 'articles:create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %} 
            {{ form }}
            <input type="submit" value="Create">
        </form>
    </div>
    <br><br>
    <script src="/static/slugify.js"></script>
{%  endblock %}