{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top main_navbar">
        <a href="{% url 'home' %}" class="navbar-brand"><img src="{% static 'logo.png' %}" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" style="color: black;">
            <span class="" role="button" >
                <i class="fa fa-bars" aria-hidden="true" style="color:#000000"></i>
            </span>
        </button>
      
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarTogglerDemo02">
            <ul class="navbar-nav mx-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ user.username }}</h2>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    
                    {% block optional_home_button %}
                    {% endblock %}
                    <li class="nav-item">
                        <form class="logout-link" action="{% url 'accounts:logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="logout_button">Logout</button>             
                        </form>
                    </li>
                    
                {% else %}
                <li class="nav-item">
                    <form class="logout-link" action="{% url 'accounts:login' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="login_button">LOGIN</button>             
                    </form>
                </li>
                &nbsp;&nbsp;
                <li class="nav-item">
                    <form class="logout-link" action="{% url 'accounts:signup' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="signup_button">SIGNUP</button>             
                    </form>
                </li>
                    
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>